{% extends "auth_base.html" %}
{% load static %}

{% block content %}

<div class="inner-box-small mt-5">
    
    <p class="primary-description">
        Time to reset!
    </p>

    <p class="primary-description mt-3">
        This confirmation link has expired.<br>
        Let's go back to the main page
    </p>
</div>

<div class="button-footer">
    <a href="{% url 'home' %}" class="primary-btn" style="text-decoration: none; display: inline-block;">
        start over
    </a>
</div>


{% endblock %}