{% extends "auth_base.html" %}
{% load static %}

{% block content %}

<div class="inner-box">
    
    <header class="text-center">
        <h1 class="logo">
            skillsproutify
        </h1>
    </header>

    <div class="mt-5">

        <p class="primary-description">
            Time to reset!
        </p>

        <p class="primary-description" style="margin-bottom: 15rem;">
            This confirmation link has expired.<br>
            Let's go back to the main page<br>
        </p>

        <a href="{% url 'home' %}" style="text-decoration: none; display: block;">
            <button class="primary-btn" type="button">
                start over
            </button>
        </a>

    </div>

</div>

{% endblock %}