{% extends "auth_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="auth-box">

    <header class="text-center">
        <h1 class="logo">
            skillsproutify
        </h1>
    </header>

    <div class="mt-5">

        <form method="POST">

            {% csrf_token %}
            {# Form validation error rendering added with guidance from ChatGPT #}

            <div class="mb-4">

                <label for="id_login" class="auth-label">
                    user name
                </label>

                {{ form.login|add_class:"primary-input"|attr:"placeholder:" }}
                {% for error in form.login.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}

            </div>

            <div style="margin-bottom: 8rem;">

                <label for="id_password" class="auth-label">
                    password
                </label>

                {{ form.password|add_class:"primary-input"|attr:"placeholder:" }}
                {% for error in form.password.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
            </div>

            <button type="submit" class="primary-btn">
                log-in
            </button>

        </form>

    </div>

</div>

{% endblock %}