{% extends "auth_base.html" %}
{% load static %}

{% block content %}

<div class="inner-box">

    <header class="text-center">
        <h1 class="logo">
            skillsproutify
        </h1>
    </header>

    <div class="mt-5">

        <div style="margin-bottom: 12.8rem;">
            <p class="primary-description">
                Password changed successfully!
            </p>

            <p class="primary-description mt-3">
                Your password has been securely updated. <br>
                You can now log in to your account.
            </p>
        </div>

        <a href="{% url 'account_login' %}" style="text-decoration: none; display: block;">
            <button class="primary-btn" type="button">
                log-in
            </button>
        </a>

    </div>

</div>

{% endblock %}