{% extends "auth_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="inner-box">

    <header class="text-center">
        <h1 class="logo">
            skillsproutify
        </h1>
    </header>

    <div class="mt-5">

        <form method="POST">

            {% csrf_token %}

            <div class="mb-4">

                <label for="id_password1" class="auth-label">
                    new password
                </label>

                {{ form.password1|add_class:"primary-input"|attr:"placeholder:" }}
                {% for error in form.password1.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}

            </div>

            <div style="margin-bottom: 8rem;">

                <label for="id_password2" class="auth-label">
                    confirm new password
                </label>

                {{ form.password2|add_class:"primary-input"|attr:"placeholder:" }}
                {% for error in form.password2.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
                
            </div>

            {% if token_fail %}
                <p class="form-error" style="text-align: center; margin-bottom: 2rem;">
                    This password reset link is invalid or has expired.
                </p>
            {% endif %}

            <button type="submit" class="primary-btn">
                change password
            </button>

        </form>

    </div>

</div>

{% endblock %}
