{% extends "auth_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<!-- if link has expired --> 
{% if token_fail %}
    <div class="inner-box-small mt-5">      
                           
        <p class="primary-description">
            Link expired.
        </p>

        <p class="primary-description mt-3">
            This password reset link is no longer valid. <br>
            Please request a new one.
        </p>
        
    </div>

    <div class="button-footer"> 
        <a href="{% url 'account_reset_password' %}" style="text-decoration: none; display: block;">
            <button class="primary-btn" type="button">
                password reset
            </button>
        </a>
    </div> 
    
<!-- If link has not expired -->
{% else %}

    <form method="POST">

        {% csrf_token %} 

        <div class="inner-box-small mt-5">  
            <div>
                <label for="id_password1" class="auth-label">
                    new password
                </label>
                {{ form.password1|add_class:"primary-input"|attr:"placeholder:" }}
                {% for error in form.password1.errors %}
                    <p class="form-error">{{ error|cut:"This password is too short."}}</p>
                {% endfor %}
                                
                <label for="id_password2" class="auth-label mt-3">
                    confirm new password
                </label>
                {{ form.password2|add_class:"primary-input"|attr:"placeholder:" }}
                {% for error in form.password2.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
                          
        <div class="button-footer">
            <button type="submit" class="primary-btn">
                change password
            </button>
        </div>
    </form>

{% endif %}
{% endblock %}