{% extends "auth_base.html" %}
{% load static %}

{% block content %}

<div class="inner-box">
    
    <header class="text-center">
        <h1 class="logo">
            skillsproutify
        </h1>

    </header>

    <div class="mt-5">

        <p class="primary-description">
            Password reset link sent!
        </p>

        <p class="primary-description" style="margin-bottom: 15rem;">
            We have sent an email with a link<br>
            to reset your password. Please check<br>
            your inbox and follow the instructions.
        </p>

    </div>

</div>

{% endblock %}