{% extends "auth_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="inner-box">

    <header class="text-center">
        <h1 class="logo">
            skillsproutify
        </h1>
    </header>

    <div class="mt-5">

        <form method="POST">

            {% csrf_token %}

            <!-- Tek Alan: Kullanıcının kayıtlı e-posta adresi -->
            <div style="margin-bottom: 12.8rem;">

                <label for="id_email" class="auth-label">
                    e-mail address
                </label>

                {{ form.email|add_class:"primary-input"|attr:"placeholder:" }}
                {% for error in form.email.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}

            </div>

            <button type="submit" class="primary-btn">
                reset password
            </button>

        </form>

    </div>

</div>

{% endblock %}