{% extends "auth_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="inner-box">

    <header class="text-center">
        <h1 class="logo">
            skillsproutify
        </h1>
    </header>

    <div class="mt-5">

        {% if token_fail %}
            <!-- if link has expired -->
            <div style="margin-bottom: 12.8rem;">
                <p class="primary-description">
                    Link expired.
                </p>

                <p class="primary-description mt-3">
                    This password reset link is no longer valid. <br>
                    Please request a new one.
                </p>
            </div>

            <a href="{% url 'account_reset_password' %}" style="text-decoration: none; display: block;">
                <button class="primary-btn" type="button">
                    password reset
                </button>
            </a>

        {% else %}
            <!-- If link has not expired -->
            <form method="POST">

                {% csrf_token %}

                <div class="mb-4">
                    <label for="id_password1" class="auth-label">
                        new password
                    </label>
                    {{ form.password1|add_class:"primary-input"|attr:"placeholder:" }}
                    {% for error in form.password1.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}
                </div>

                <div style="margin-bottom: 8rem;">
                    <label for="id_password2" class="auth-label">
                        confirm new password
                    </label>
                    {{ form.password2|add_class:"primary-input"|attr:"placeholder:" }}
                    {% for error in form.password2.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}
                </div>

                <button type="submit" class="primary-btn">
                    change password
                </button>

            </form>
        {% endif %}

    </div>

</div>

{% endblock %}