{% extends "auth_base.html" %}
{% load static %}

{% block content %}

<div class="inner-box-small mt-5">

    <p class="primary-description">
        Password changed successfully!
    </p>

    <p class="primary-description mt-3">
        Your password has been securely updated. <br>
        You can now log in to your account.
    </p>         
     
</div>

<div class="button-footer">
    <a href="{% url 'account_login' %}" class="primary-btn" style="text-decoration: none; display: block;">
        log-in
    </a>
</div>

{% endblock %}