{% extends "auth_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="inner-box">

    <header class="text-center">
        <h1 class="logo">
            skillsproutify
        </h1>
    </header>

    <div>

        <h3 class="primary-description">
            Hi {{ user.username }}! 
        </h3>

        <p class="primary-description mt-3">
            Your email has been verified successfully.
        </p>

        <p class="primary-description mt-5">
            Let's start your learning journey!
        </p>

        <p class="primary-description">
            To get going, create your first job role.
            You can always add more roles later, but let's kick things off with one.
        </p>

        <form  class="mt-4">

            <input
                type="text"
                name="job_title"
                placeholder="Job title"
                class="primary-input">

            <button type="button" class="primary-btn mt-4">
                Add
            </button>

        </form>

    </div>

</div>

{% endblock %}