{% extends "learning_base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="inner-box">

    <div class="role-list">
        <h5 class="primary-description mb-3">
            selected roles
        </h5>
        {% for role in roles %}
            <div class="role-item">
                <input
                    type="text"
                    class="primary-input role-input mb-3"
                    value="{{ role.title }}"
                    readonly
                >

                <!--Button for confirmation box -->

                <a href="#delete-confirm-{{ role.id }}" class="delete-trigger-link">
                    <i class="fa-solid fa-trash delete-btn"></i>
                </a>

                <!--Delete role confirmation box-->

                <div id="delete-confirm-{{ role.id }}" class="custom-modal-overlay">
                    <div class="custom-modal-box">
                        
                        <p class="primary-description modal-text">
                            Are you sure you want to delete this job role?
                        </p>

                        <div class="modal-btn-group">
                            
                            <!-- Real delete button -->
                            <form action="{% url 'delete_job_role' role.id %}" method="POST" class="modal-form">
                                {% csrf_token %}
                                <button type="submit" class="primary-btn">
                                    yes
                                </button>
                            </form>

                            <!-- Cancel button -->
                            <a href="#" class="primary-btn modal-btn cancel-btn">
                                cancel
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
     </div>
    
    <div>
        <p class="primary-description mb-3">
            discover a new role
        </p>
        <form method="POST">
            {% csrf_token %}
            {{ form.title|add_class:"primary-input"|attr:"placeholder:Job title" }}
            <button type="submit" class="primary-btn mt-4">
                Add
            </button>
        </form>  
    </div>   
       
</div>

{% endblock %}