{% extends "learning_base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="inner-box-learning">
    <div class="role-list mt-5">
        <p class="primary-description mb-2">
            selected roles
        </p>
        {% for role in roles %}
            <div class="role-item">
                <input
                    type="text"
                    class="primary-input role-input mb-3"
                    value="{{ role.title }}"
                    readonly
    >
                <a href="{% url 'role_resources' role.id %}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-decoration: none; z-index: 10;"></a>
                
                <!--Button for confirmation box -->

                <a href="#edit-role-{{ role.id }}">
                    <i class="fa-solid fa-pen edit-btn"></i>
                </a>

                <a href="#delete-confirm-{{ role.id }}">
                    <i class="fa-solid fa-trash delete-btn"></i>
                </a>

                <!--Delete role confirmation box-->

                <div id="delete-confirm-{{ role.id }}" class="custom-modal-overlay">
                    <div class="custom-modal-box">
                        
                        <p class="primary-description modal-text">
                            Are you sure you want to delete {{ role.title }} job role?
                        </p>

                        <div class="modal-btn-group">
                            
                            <!-- Real delete button -->
                            <form action="{% url 'delete_item' 'role' role.id %}" method="POST" class="modal-form">
                                {% csrf_token %}
                                <button type="submit" class="primary-btn">
                                    yes
                                </button>
                            </form>

                            <!-- Cancel button -->
                            <a href="#" class="primary-btn modal-btn cancel-btn">
                                cancel
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
     </div>
</div>
    
<div class="inner-box-learning-input">
    <p class="primary-description">
        discover a new role
    </p>
    <form method="POST">
        {% csrf_token %}             
        {{ form.title|add_class:"primary-input"|attr:"placeholder:Job title" }}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="form-error">{{ error }}</p>
            {% endfor %}
        {% endif %}      
     
    <button type="submit" class="primary-btn mt-5">
        Add
    </button>
    </form> 
</div>

    
{% endblock %}