{% extends "auth_base.html" %}
{% load static %}

{% block content %}

<div class="inner-box">

    <div>
        <p class="slogan-text mb-5">where learning blooms..</p>
    </div>

    <div>

        <p class="primary-description mt-4">
            Explore different roles,<br>
            set your learning goals,<br>
            and watch your progress bloom.<br>
            All your books, courses, and tools<br>
            in one place.
        </p>

    </div>

    <div class="mt-4 mb-5">

       <a href="/accounts/signup/" class="primary-btn">
            join
        </a>

    </div>

    <div>
        <p class="primary-description mt-4">Here to keep blooming?</p>    
    </div>
</div>

<div class="button-footer">
    <a href="/accounts/login/" class="primary-btn">
        log-in
    </a>
</div>
{% endblock %}